*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.container{
    margin: 0 auto;
    width: 1140px;
    /* padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px); */
}

.header{
    background-color: #222222;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    padding: 26px 240px 20px 231px;
    align-content: center;
}
.header__link{
    padding-top: 26px;
    padding-bottom: 20px;
}

.fa{
    color: white;
    height: 29px;
    margin-left: 41px;
}

.nav__left__img{
    height: 38px;
}

.mainA{
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.main__left, .main__right{
    width: 50%;
    background-color:#F1E4E6;
    margin-bottom: 65px;
}
.mainB{
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mainC{
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text__main{
    width: 377px;
    margin-left: 16px;
}
.main__right{
    display: flex;
    justify-content: start;
    align-content: center;
    padding-top: 290px;
}
.block_content1{
    position: relative;
    
    margin-right: 30px;
    
}
.img_content1{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.text_content1{
    position: absolute;
    top:105px;
    left:103px;
    
    justify-content: center;
    align-content: center;
}
.text_content1_2{
    position: absolute;
    top:65px;
    left:490px;
}
.p__content1{
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h2__content1{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.rectangle__content1{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    /* flex-shrink: 0; */
    background-color:#211616B2;
    opacity: 0.7;
}
.rectangle__content1_2{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    /* flex-shrink: 0; */
    background-color:#211616B2;
    opacity: 0.7;
}
.content1_1{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(1, 260px);
    margin-bottom: 30px;
    justify-content: center;
}
.content1{
    justify-content: center;
}
.content1_2{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1140px);
    grid-template-rows: repeat(1, 180px);
    margin-bottom: 96px;
    justify-content: center;
}
.content2__text{
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}
.content2__text_2{
    
    justify-content: center;
    
}
.content2__h2{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.content2__p1{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content2__h3{
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;
}
.content2__p2{
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 16px;
}
.price{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
    margin-left: 16px;
}
.content2__grid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 536px);
    margin-bottom: 48px;
    justify-content: center;
}
.content2_img{
    margin-bottom: 24px;
    
}
.browse{
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-content: center;
}
.browse_products{
    width: 212px;
    height: 48px;
    border: 1px solid #F26376;
    padding: 15px 30px;
}
.elem2__rectangle{
    position:relative;
}
.elem2_img{
    position:absolute;
    top: 9px;
    left:108px;
}

@media (max-width: 1024px) {

    .container{
        width: 768px;    
    }
    .header__nav{
        padding: 18px 32px;
    }
    .header__link{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    .fa{
        height: 23px;
        margin-left: 25px;
    }
    
    .nav__left__img{
        height: 23px;
    }
    
    .mainA{
        font-size: 44px;
    }
    .mainB{
        font-size: 24px;
    }
    
    .mainC{
        font-size: 24px;
    }
    .text__main{
        width: 283px;
        margin-left: 16px;
    }
    .main__right{
        padding-top: 138px;
    }
  
    .text_content1{
        top:59px;
        left:39px;
    }
    .text_content1_2{
        top:33px;
        left:288px;
    }
    .rectangle__content1{
        width: 100%;
        height: 100%;
    }
    .rectangle__content1_2{
        width: 100%;
        height: 100%;
        
    }
    .content1_1{
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: repeat(1, 158px);
       
    }

    .content1_2{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(1, 116px);
        margin-bottom: 110px;
        
    }
    .content2__text{
       
        margin-bottom: 72px;
    }

    .content2__grid{
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 582px);
        margin-bottom: 17px;
    }
    
    .browse{
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: center;
        align-content: center;
    }
   
}